body {
    background-color: #2C2B2B !important;
}

.notification {
    background-color: rgb(230, 230, 230) !important;
    margin-top: -35px;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    margin: 20px;
    padding: 50px;
    font-size: 30px;
    text-align: center;

  }

.reset {
    font-weight: 800;
    color: rgb(0, 140, 255);
    cursor: pointer;
}

.reset:hover {
    text-decoration: none;
    background-color: rgb(0, 140, 255) !important;
    color: white !important;
    padding: 3px 15px -3px 15px;

}

.jumbotron {
    background-color: rgb(0, 140, 255) !important;
}

.easy {
    font-weight: 800;
    margin-right: 20px;
    padding: 3px 15px 3px 15px;
    cursor: pointer;
}
.easy:hover {
    text-decoration: none;
    background-color: rgb(0, 140, 255) !important;
    color: white !important;
}

.hard{
    font-weight: 800;
    background-color: rgb(0, 140, 255);
    color: white;
    cursor: pointer;
    padding: 3px 15px 3px 15px;
    margin-left: -22px;
}
.hard:hover {
    text-decoration: none;
    background-color: rgb(0, 140, 255) !important;
    color: white !important;
}

.grid-item {
    cursor: pointer;
}

.hide {
    opacity: 0;
    transition: opacity 1000ms;
}

