input.score {
    border: none;
    font-size: 2em;
    width: 60px;
}

input.scoreKeep {
    border: none;
    font-size: 15px;
    width: 50px;
}

input.scoreKeep[type=number]::-webkit-inner-spin-button,
input.scoreKeep[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

